@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "moranga";
	src: url("/fonts/moranga-bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "moranga";
	src: url("/fonts/moranga-bold-italic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "moranga";
	src: url("/fonts/moranga-black-italic.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "moranga";
	src: url("/fonts/moranga-black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "moranga";
	src: url("/fonts/moranga-medium.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "moranga";
	src: url("/fonts/moranga-medium-italic.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light dark;
}

body {
	background-color: theme("colors.blue.950");
	color: theme("colors.blue.50");
	font-size: theme("fontSize.lg");
	line-height: 2;

	@media (prefers-color-scheme: light) {
		background-color: theme("colors.beige.50");
		color: theme("colors.blue.950");
	}
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: theme("fontFamily.serif");
		font-weight: black;
		text-wrap: balance;
		text-transform: capitalize;
	}

	h1 {
		font-size: theme("fontSize.4xl");
		line-height: 1.3;
		color: theme("colors.peach");

		@media (prefers-color-scheme: light) {
			color: theme("colors.blue.500");
		}

		@screen md {
			font-size: theme("fontSize.5xl");
		}
	}

	h2 {
		font-size: theme("fontSize.3xl");
		line-height: 1.4;
		color: theme("colors.peach");
		@media (prefers-color-scheme: light) {
			color: theme("colors.orange");
		}

		@screen md {
			font-size: theme("fontSize.4xl");
		}
	}

	h3 {
		font-size: theme("fontSize.2xl");
		line-height: 1.5;
		color: theme("colors.blue.300");

		@media (prefers-color-scheme: light) {
			color: theme("colors.blue.500");
		}

		@screen md {
			font-size: theme("fontSize.3xl");
		}
	}
}

@layer components {
	.flow {
		& > * + * {
			/* Basically adds top margin to everything except the first child */
			margin-block-start: 1.5em;
		}

		& > :is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
			/* This makes it so you can have a title and subtitle together without them being spaced akwardly */
			margin-block-start: 0;
		}

		p {
			line-height: 2;
		}

		:where(h1, h2, h3, h4, h5, h6) + :where(p, ul) {
			margin-block-start: 0.5em;
		}

		strong {
			font-family: theme("fontFamily.serif");
		}

		img {
			border-radius: theme("borderRadius.xl");
		}

		a:not(.btn) {
			text-decoration: underline;
			color: theme("colors.orange");

			&:hover {
				color: theme("colors.peach");
			}
		}

		ul {
			list-style: disc;
			padding-inline-start: 1em;

			li {
				margin-block-start: 0.3em;
			}

			li::marker {
				color: theme("colors.orange");
			}
		}

		blockquote,
		pre,
		code {
			margin-block-start: 1em;
		}

		blockquote {
			border-left: 4px solid theme("colors.orange");
			padding-inline-start: 1em;
			padding-block: 1.5em;
			color: theme("colors.blue.300");
			background-color: theme("colors.blue.900");

			@media (prefers-color-scheme: light) {
				color: theme("colors.blue.900");
				background-color: theme("colors.beige.500");
			}
		}

		code,
		pre {
			font-family: theme("fontFamily.mono");
		}

		:not(pre) > code {
			background-color: theme("colors.blue.900");
			color: theme("colors.blue.200");
			padding: 0.2em 0.4em;
			border-radius: theme("borderRadius.DEFAULT");
			font-size: 0.75em;

			@media (prefers-color-scheme: light) {
				background-color: theme("colors.beige.500");
				color: theme("colors.blue.900");
			}
		}

		pre {
			padding: 1em;
			border-radius: theme("borderRadius.xl");
		}
	}
}

.wrapper,
.full_width {
	--padding-inline: 2rem;
	--content-max-width: 750px;
	--breakout-max-width: 950px;

	--breakout-size: calc(
		(var(--breakout-max-width) - var(--content-max-width)) / 2
	);

	display: grid;
	grid-template-columns:
		[full-width-start] minmax(var(--padding-inline), 1fr)
		[breakout-start] minmax(0, var(--breakout-size))
		[content-start] min(
			100% - var(--padding-inline) * 2,
			var(--content-max-width)
		)
		[content-end] minmax(0, var(--breakout-size))
		[breakout-end] minmax(var(--padding-inline), 1fr)
		[full-width-end];

	&:not(.breakout) > * {
		grid-column: content;
	}

	.breakout {
		grid-column: breakout;

		& > img {
			aspect-ratio: 16/9;
			object-fit: cover;
		}
	}

	.full_width {
		grid-column: full-width;
	}
}

::selection {
	background-color: theme("colors.orange");
	color: theme("colors.blue.950");
}

::-moz-selection {
	background-color: theme("colors.orange");
	color: theme("colors.blue.950");
}

@layer utilities {
	.foo {
		background-color: blue;
	}
}
