

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'moranga';
	src: url('/fonts/moranga-bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'moranga';
	src: url('/fonts/moranga-bold-italic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'moranga';
	src: url('/fonts/moranga-black-italic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'moranga';
	src: url('/fonts/moranga-black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'moranga';
	src: url('/fonts/moranga-medium.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'moranga';
	src: url('/fonts/moranga-medium-italic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	color-scheme: light dark;
}

body{
	background-color: theme('colors.blue.950');
	color: theme('colors.blue.50');
	font-size: theme('fontSize.xl');
	line-height: 2;
	
	@media (prefers-color-scheme: light){
		background-color: theme('colors.beige');
		color: theme('colors.blue.950');
	}
}

@layer base{
	h1, h2, h3, h4, h5, h6{
		font-family: theme('fontFamily.serif');
		font-weight: black;
	}
}

.wrapper,
	.full_width {
		--padding-inline: 2rem;
		--content-max-width: 750px;
		--breakout-max-width: 950px;

		--breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

		display: grid;
		grid-template-columns:
			[full-width-start] minmax(var(--padding-inline), 1fr)
			[breakout-start] minmax(0, var(--breakout-size))
			[content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width))
			[content-end] minmax(0, var(--breakout-size))
			[breakout-end] minmax(var(--padding-inline), 1fr)
			[full-width-end];

		&:not(.breakout) > * {
			grid-column: content;
		}

		.breakout {
			grid-column: breakout;

			& > img {
				aspect-ratio: 16/9;
				object-fit: cover;
			}
		}

		.full_width {
			grid-column: full-width;
		}
	}