---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="wrapper py-10">
			<div class="flow">
			
				<h1>Hello.</h1>
				<p>How's it going. I'm Spenser.</p>
			
			</div>
		</main>
		<Footer />
	</body>
</html>
